{"snapshot_id": "snap-<#snapshot_id#>", "region": "ap-southeast-1", "size": <#size#>, "status": "<#status#>", "create_time": "2016-08-13T01:01:09.104Z", "tags": {}, "encrypted": false, "type": "gp2", "id": "vol-<#volumes-id#>", "attach_data": {"device": "/dev/sda1", "status": "attached", "id": "vol-1d2694c0", "instance_id": "i-e508ed42", "deleteOnTermination": "true", "attach_time": "2016-08-13T01:01:09.000Z"}, "iops": 100, "account_id": "000000000000", "zone": "ap-southeast-1a"}
