{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "2177.67539267", "period": "120", "Maximum": "3607.0", "Minimum": "0.0", "metric_name": "GetRecords.Bytes", "Sum": "415936.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "PutRecord.Success", "Sum": "5642.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "23.0942408377", "period": "120", "Maximum": "120.0", "Minimum": "10.0", "metric_name": "GetRecords.Latency", "Sum": "4411.0", "Unit": "Milliseconds", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "72.6169797944", "period": "120", "Maximum": "79.0", "Minimum": "70.0", "metric_name": "PutRecord.Bytes", "Sum": "409705.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "72.6169797944", "period": "120", "Maximum": "79.0", "Minimum": "70.0", "metric_name": "IncomingBytes", "Sum": "409705.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "0.115183246073", "period": "120", "Maximum": "2.0", "Minimum": "0.0", "metric_name": "GetRecords.IteratorAge", "Sum": "22.0", "Unit": "Milliseconds", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "GetRecords.Success", "Sum": "191.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "115.183246073", "period": "120", "Maximum": "2000.0", "Minimum": "0.0", "metric_name": "GetRecords.IteratorAgeMilliseconds", "Sum": "22000.0", "Unit": "Milliseconds", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "4.90092165899", "period": "120", "Maximum": "263.0", "Minimum": "3.0", "metric_name": "PutRecord.Latency", "Sum": "27651.0", "Unit": "Milliseconds", "account_id": "000000000000"}
{"metric_dimensions": "StreamName=[KinesisDataVisSampleApp-KinesisStream-ZIGDQ338AAAA]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "IncomingRecords", "Sum": "5642.0", "Unit": "Count", "account_id": "000000000000"}
