{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "16640.0", "period": "120", "Maximum": "16640.0", "Minimum": "16640.0", "metric_name": "MemoryTotalMB", "Sum": "16640.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ContainerPending", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "AppsPending", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "TaskNodesRunning", "Sum": "1.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "72.0", "period": "120", "Maximum": "72.0", "Minimum": "72.0", "metric_name": "CapacityRemainingGB", "Sum": "72.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ContainerAllocated", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "UnderReplicatedBlocks", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "S3BytesWritten", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CorruptBlocks", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "2.0", "period": "120", "Maximum": "2.0", "Minimum": "2.0", "metric_name": "MRActiveNodes", "Sum": "2.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "2.0", "period": "120", "Maximum": "2.0", "Minimum": "2.0", "metric_name": "MRTotalNodes", "Sum": "2.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "AppsFailed", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CoreNodesPending", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "1.35135135135", "period": "120", "Maximum": "1.35135135135", "Minimum": "1.35135135135", "metric_name": "HDFSUtilization", "Sum": "1.35135135135", "Unit": "Percent", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MRDecommissionedNodes", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "CoreNodesRunning", "Sum": "1.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "16640.0", "period": "120", "Maximum": "16640.0", "Minimum": "16640.0", "metric_name": "MemoryAvailableMB", "Sum": "16640.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "HBaseBackupFailed", "Sum": "0.0", "Unit": "None", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "3.0", "period": "120", "Maximum": "3.0", "Minimum": "3.0", "metric_name": "AppsCompleted", "Sum": "3.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "S3BytesRead", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MRUnhealthyNodes", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "145272.0", "period": "120", "Maximum": "145272.0", "Minimum": "145272.0", "metric_name": "HBaseTimeSinceLastSuccessfulBackup", "Sum": "145272.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "HDFSBytesRead", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "AppsKilled", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ContainerReserved", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "PendingDeletionBlocks", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "IsIdle", "Sum": "1.0", "Unit": "None", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "4.0", "period": "120", "Maximum": "4.0", "Minimum": "4.0", "metric_name": "TotalLoad", "Sum": "4.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "HBaseMostRecentBackupDuration", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "100.0", "period": "120", "Maximum": "100.0", "Minimum": "100.0", "metric_name": "LiveDataNodes", "Sum": "100.0", "Unit": "Percent", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "AppsRunning", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MRRebootedNodes", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MemoryReservedMB", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "HDFSBytesWritten", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MissingBlocks", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "dfs.FSNamesystem.PendingReplicationBlocks", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "TaskNodesPending", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MemoryAllocatedMB", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "MRLostNodes", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "JobFlowId=[j-1GVW66AAAAK6F]", "SampleCount": "", "Average": "3.0", "period": "120", "Maximum": "3.0", "Minimum": "3.0", "metric_name": "AppsSubmitted", "Sum": "3.0", "Unit": "Count", "account_id": "000000000000"}
