{"metric_dimensions": "QueueName=[name-1]", "SampleCount": "", "Average": "1152.0", "period": "120", "Maximum": "1152.0", "Minimum": "1152.0", "metric_name": "SentMessageSize", "Sum": "1152.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-3]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ApproximateNumberOfMessagesDelayed", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-2]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NumberOfMessagesReceived", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-10]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ApproximateNumberOfMessagesVisible", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-4]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ApproximateNumberOfMessagesNotVisible", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-10]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NumberOfMessagesDeleted", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-10]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NumberOfMessagesSent", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "QueueName=[name-3]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NumberOfEmptyReceives", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
