{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "Evictions", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CasHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "BytesUsedForCacheItems", "Sum": "0.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CmdGet", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "40960.0", "period": "120", "Maximum": "40960.0", "Minimum": "40960.0", "metric_name": "SwapUsage", "Sum": "81920.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "4.0", "period": "120", "Maximum": "4.0", "Minimum": "4.0", "metric_name": "CurrConnections", "Sum": "8.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "524288.0", "period": "120", "Maximum": "524288.0", "Minimum": "524288.0", "metric_name": "BytesUsedForHash", "Sum": "1048576.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NewConnections", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "GetHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DeleteHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "4.0", "period": "120", "Maximum": "4.0", "Minimum": "4.0", "metric_name": "CmdConfigGet", "Sum": "8.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CmdTouch", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "60930.5", "period": "120", "Maximum": "61057.0", "Minimum": "60804.0", "metric_name": "NetworkBytesOut", "Sum": "121861.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CasBadval", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "2451.0", "period": "120", "Maximum": "2451.0", "Minimum": "2451.0", "metric_name": "BytesWrittenOutFromMemcached", "Sum": "4902.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CasMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "246.0", "period": "120", "Maximum": "246.0", "Minimum": "246.0", "metric_name": "BytesReadIntoMemcached", "Sum": "492.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CmdSet", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "5.04", "period": "120", "Maximum": "5.08", "Minimum": "5.0", "metric_name": "CPUUtilization", "Sum": "10.08", "Unit": "Percent", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DecrHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "5936.5", "period": "120", "Maximum": "6397.0", "Minimum": "5476.0", "metric_name": "NetworkBytesIn", "Sum": "11873.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "6119424.0", "period": "120", "Maximum": "6119424.0", "Minimum": "6119424.0", "metric_name": "FreeableMemory", "Sum": "12238848.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CmdFlush", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DeleteMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "NewItems", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "EvictedUnfetched", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "209715200.0", "period": "120", "Maximum": "209715200.0", "Minimum": "209715200.0", "metric_name": "UnusedMemory", "Sum": "419430400.0", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CmdConfigSet", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "IncrMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DecrMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "IncrHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "CurrConfig", "Sum": "2.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "TouchMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "CurrItems", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "GetMisses", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "Reclaimed", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "ExpiredUnfetched", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "CacheClusterId=[cloudwatchcachetest],CacheNodeId=[0001]", "SampleCount": "", "Average": "0.0", "period": "120", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "TouchHits", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
