{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "StatusCheckFailed_System", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "StatusCheckFailed", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "StatusCheckFailed_Instance", "Sum": "0.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DiskWriteOps", "Sum": "<#storage_ops_write#>", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "4827.925", "period": "6000", "Maximum": "72700.0", "Minimum": "28.0", "metric_name": "NetworkOut", "Sum": "<#network_usage_out#>", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "2381.8875", "period": "6000", "Maximum": "31830.0", "Minimum": "60.0", "metric_name": "NetworkIn", "Sum": "<#network_usage_in#>", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DiskWriteBytes", "Sum": "<#storage_usage_write#>", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DiskReadOps", "Sum": "<#storage_ops_read#>", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "0.0", "period": "6000", "Maximum": "0.0", "Minimum": "0.0", "metric_name": "DiskReadBytes", "Sum": "<#storage_usage_read#>", "Unit": "Bytes", "account_id": "000000000000"}
{"metric_dimensions": "InstanceId=[<#InstanceId#>]", "SampleCount": "80.0", "Average": "<#cpu_load_percent#>", "period": "6000", "Maximum": "0.68", "Minimum": "0.16", "metric_name": "CPUUtilization", "Sum": "21.33", "Unit": "Percent", "account_id": "000000000000"}
{"metric_dimensions":"InstanceId=[<#InstanceId#>]","SampleCount":"80.0","Average":"23","period":"6000","Maximum":"38","Minimum":"5","metric_name":"NetworkPacketsIn","Sum":"<#network_packets_in#>","Unit":"Count","account_id":"000000000000"}
{"metric_dimensions":"InstanceId=[<#InstanceId#>]","SampleCount":"80.0","Average":"36","period":"6000","Maximum":"71","Minimum":"12","metric_name":"NetworkPacketsOut","Sum":"<#network_packets_out#>","Unit":"Count","account_id":"000000000000"}
