{"usage_price": "0.0", "id": "bdf87e23-0000-0000-0000-1e00650f3411", "currency_code": "USD", "offering_type": "Partial Upfront", "instance_type": "c3.xlarge", "region": "ap-southeast-1", "fixed_price": "713.0", "instance_tenancy": "default", "description": "Red Hat Enterprise Linux", "duration": 31536000, "availability_zone": "ap-southeast-1b", "start": "2015-05-21T18:40:45.691Z", "state": "active", "instance_count": 10}
{"usage_price": "0.226", "id": "1ba8e2e3-0000-0000-0000-f18d379957b1", "currency_code": "USD", "offering_type": "Medium Utilization", "instance_type": "c3.2xlarge", "region": "ap-southeast-1", "fixed_price": "1165.0", "instance_tenancy": "default", "description": "Linux/UNIX", "duration": 31536000, "availability_zone": "ap-southeast-1b", "start": "2014-06-29T15:23:00.915Z", "state": "retired", "instance_count": 10}
{"usage_price": "0.113", "id": "b847fa93-0000-0000-0000-4efa5f1255eb", "currency_code": "USD", "offering_type": "Medium Utilization", "instance_type": "c3.xlarge", "region": "ap-southeast-1", "fixed_price": "582.0", "instance_tenancy": "default", "description": "Linux/UNIX", "duration": 31536000, "availability_zone": "ap-southeast-1b", "start": "2014-06-29T15:23:00.242Z", "state": "retired", "instance_count": 10}
{"usage_price": "0.153", "id": "1ba8e2e3-0000-0000-0000-55fc41c15dce", "currency_code": "USD", "offering_type": "Medium Utilization", "instance_type": "m3.xlarge", "region": "ap-southeast-1", "fixed_price": "805.0", "instance_tenancy": "default", "description": "Linux/UNIX", "duration": 31536000, "availability_zone": "ap-southeast-1a", "start": "2014-07-01T09:19:12.859Z", "state": "retired", "instance_count": 10}
{"usage_price": "0.0", "id": "e7f60352-0000-0000-0000-864403644706", "currency_code": "USD", "offering_type": "Partial Upfront", "instance_type": "c3.xlarge", "region": "ap-southeast-1", "fixed_price": "713.0", "instance_tenancy": "default", "description": "Red Hat Enterprise Linux", "duration": 31536000, "availability_zone": "ap-southeast-1a", "start": "2015-05-21T18:40:22.742Z", "state": "active", "instance_count": 10}
{"usage_price": "0.175", "id": "af9f760e-0000-0000-0000-5276cc3cef8d", "currency_code": "USD", "offering_type": "Light Utilization", "instance_type": "m3.large", "region": "ap-southeast-1", "fixed_price": "249.0", "instance_tenancy": "default", "description": "Linux/UNIX", "duration": 31536000, "availability_zone": "ap-southeast-1a", "start": "2014-06-23T13:40:22.389Z", "state": "retired", "instance_count": 20}
{"usage_price": "0.281", "id": "af9f760e-0000-0000-0000-2b0f89475363", "currency_code": "USD", "offering_type": "Medium Utilization", "instance_type": "c1.xlarge", "region": "ap-southeast-1", "fixed_price": "1447.0", "instance_tenancy": "default", "description": "Linux/UNIX", "duration": 31536000, "availability_zone": "ap-southeast-1a", "start": "2014-07-01T09:17:29.758Z", "state": "retired", "instance_count": 10}
