{"id": "snap-00000000", "owner_alias": null, "start_time": "2013-08-27T09:34:52.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 7, "description": "", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {"Name": "lin4_splunkd"}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2013-08-27T09:36:00.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 7, "description": "", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {"Name": "lin3_hadoopM"}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-03-25T03:56:21.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 410, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-04-07T11:01:49.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 6, "description": "", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {"Name": "ebs4clu01ms"}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-04-17T02:37:36.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 6, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-08-14T06:29:42.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 30, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-08-14T07:37:42.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 30, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2014-12-24T01:52:13.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 30, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
{"id": "snap-00000000", "owner_alias": null, "start_time": "2015-05-29T05:32:43.000Z", "encrypted": false, "region": "ap-southeast-1", "volume_size": 8, "description": "Created by CreateImage(i-00000000) for ami-00000000 from vol-00000000", "volume_id": "vol-00000000", "status": "completed", "owner_id": "000000000000", "tags": {}, "item": "\n        ", "progress": "100%"}
