{"metric_dimensions": "Operation=[Scan],TableName=[KinesisDataVisSampleApp-KCLDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "2.0", "period": "120", "Maximum": "2.0", "Minimum": "2.0", "metric_name": "ReturnedItemCount", "Sum": "2.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "Operation=[UpdateItem],TableName=[KinesisDataVisSampleApp-KCLDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "4.43935714286", "period": "120", "Maximum": "8.73", "Minimum": "3.719", "metric_name": "SuccessfulRequestLatency", "Sum": "62.151", "Unit": "Milliseconds", "account_id": "000000000000"}
{"metric_dimensions": "TableName=[KinesisDataVisSampleApp-KCLDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "1.0", "period": "120", "Maximum": "1.0", "Minimum": "1.0", "metric_name": "ConsumedWriteCapacityUnits", "Sum": "14.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "TableName=[KinesisDataVisSampleApp-KCLDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "0.5", "period": "120", "Maximum": "0.5", "Minimum": "0.5", "metric_name": "ConsumedReadCapacityUnits", "Sum": "2.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "TableName=[KinesisDataVisSampleApp-CountsDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "10.0", "period": "120", "Maximum": "10.0", "Minimum": "10.0", "metric_name": "ProvisionedReadCapacityUnits", "Sum": "10.0", "Unit": "Count", "account_id": "000000000000"}
{"metric_dimensions": "TableName=[KinesisDataVisSampleApp-CountsDynamoDBTable-1SPGY8Y1AAAA8]", "SampleCount": "", "Average": "5.0", "period": "120", "Maximum": "5.0", "Minimum": "5.0", "metric_name": "ProvisionedWriteCapacityUnits", "Sum": "5.0", "Unit": "Count", "account_id": "000000000000"}
